
header {
	border-bottom: 1px solid #fefefe17;
}
.header-top {
	background: #270064;
    padding: 14px 0;
    a {
    	color: #fff;
	    display: flex;
	    align-items: center;
	    justify-content: flex-end;
	    img {
	    	margin-right: 15px;
	    }
	    span {
	    	position: relative;
	    	margin-left: 15px;
		    font-weight: bold;
		    font-size: 20px;
		    border-bottom: 1px solid transparent;
		    transition: .4s all !important;
	    }
	    &:hover {
	    	span {
	    		border-bottom: 1px solid #fff;
	    	}
	    }
    }
}

.header-menu {
	padding: 26px 0;
	background: #6A2EA4;
	ul {
		list-style: none;
		display: flex;
		justify-content: center;
		li {
			padding-right: 60px;
			&:last-child {
				padding-right: 0;
			}
		}
	}
	a {
		color: #fff;
	    display: flex;
	    align-items: center;
	}
}

footer {
	padding: 26px 0;
	color: #fff;
}
.footer-info {
	ul {
		display: flex;
		align-items: center;
		justify-content: flex-end;
		li {
			padding-right: 4px;
			&:last-child {
				padding-right: 0;
			}
		}
	}
}